@charset "UTF-8";

.body
{
	position: relative;
	margin-top: 0px;
}

.main_t
{
	position: relative;
	margin-top: 0px;	
	margin-right: 2px;
	margin-left: 2px;
	background-color: black;
}

.header_t
{
	position: relative;
	background-color: black;
	width: 100%;
	height: 110px;
	box-sizing: border-box;
}

.header_left
{
	position: relative;
	width: 70%;
	height: 100%;
	box-sizing: border-box;
}

.header_right
{
	position: absolute;
	left: 70%;
	width: 30%;
	height: 100%;
	top: 0px;
	box-sizing: border-box;
}

.header_right_ct
{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #2e2e2e;
	box-sizing: border-box;	
}

.header_right_left
{
	position: relative;
	width: 40%;
	height: 100%;
	box-sizing: border-box;
}

.header_right_right
{
	position: absolute;
	left: 40%;
	top: 0px;
	width: 60%;
	height: 100%;	
	box-sizing: border-box;
	text-align: center;
	padding-top: 2%;	
}

.header_right_right_dv
{
	position: relative;
	font-size: 24px;
	font-weight: bold;
	color: white;
 	vertical-align: 50%;					
}

.content
{
	position: relative;
	background-color: #e7e7e7;
	width: 100%;
	height: 700px;
}

.content_header
{
	position: relative;
	background-color: #6b6b6b;
	color: white;	
	width: 100%;
	height: 10%;
}

.content_header_main
{
	position: relative;
	height: 100%;
	padding: 10px;	
}

.content_header_main_left
{
	position: relative;
	height: 100%;
	width: 60%;
}

.content_header_main_right
{
	position: absolute;
	left: 60%;
	top: 0px;
	height: 100%;
	width: 40%;
	text-align: right;
	padding-top: 10px;
	padding-right: 5px;
}

.usr_content_header_input, .usr_content_header_submit 
{
	background-color: #c0c0c0;
	color: white;
	width: 25%;
	text-align: center;
	color: #6b6b6b;	
	font-size: 18px;
	margin-top: 8px;
	border-radius: 10px;
	border-color: #6b6b6b;	
}

.usr_content_header_submit
{
	font-weight: bold;
	height: 32px;
}

.content_main
{
	position: relative;
	background-color: #e7e7e7;
	width: 100%;
	height: 90%;
	box-sizing: border-box;
}

.content_main_left
{
	position: relative;
	width: 60%;
	height: 100%;
	overflow-y: scroll;
}



.content_main_right
{
	position: absolute;
	left: 60%;
	top: 0px;
	width: 40%;
	height: 100%;
}


.content_main_right_top
{
	position: relative;
	width: 100%;
	height: 50%;
	overflow-y: scroll;
}


.content_main_right_bottom
{
	position: relative;
	width: 100%;
	height: 50%;
	overflow-y: scroll;	
}


.footer_t
{
	width: 100%;
	height: 100px;
	background-color: #3d3d3d;
}

.td_srch_style_0, .td_srch_style_1
{
	padding-top: 5px;	
	border: 2px solid black;
	margin-bottom: 10px;
	box-sizing: border-box;
	overflow: hidden; 
	#box-shadow: 3px 3px #c0c0c0;
	border-radius: 1px;
	
}


.td_srch_style_0 { background-color: #d7d7d7;}
.td_srch_style_1 { background-color: #efefef;}

.book_description
{
	position: relative;
	width: 15%;
	height: auto;
	box-sizing: border-box;
	font-size: 16px;
}

td
{
	padding: 1px;
}

tr:hover 
{
	background-color: #fff4b9;
}

.table_header
{
	position: sticky;
	top: 0px;
	background-color: #3e1366;
	font-size: 18px;
	font-weight: bold;
	color: white;
	height: 32px;
	text-align: center;
	padding-top: 5px;
	overflow: hidden;
	box-sizing: border-box;	
	z-index: 1;
	border-radius: 3px;
}











